* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: #1F2326;
    display: flex;
    justify-content: space-between;
    height: 132px;
    padding: 46px 66px 46px 78px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.header-left-block {
    display: flex;
}

.logo {
    width: 79px;
}

.header-icon {
    margin: 0 86px 0 0;
}

.line {
    height: 42px;
    width: 2px;
    background: #fff;
    margin: 0 60px;
}

.nav {
    width: 920px;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
}

.nav-arrow {
    width: 10px;
    margin: 0 0 0 5px;
}

.header-right-block {
    display: flex;
    align-items: center;
}

.user-icon {
    width: 42px;
    border-radius: 50%;
    margin: 0 16px 0 0;
}

.arrow {
    width: 10px;
    margin: 0 0 0 18px;
}

.content {
    height: calc( 100vh - 132px - 132px);
    background-image: url("./assets/background/background.png");
    background-color: rgb(255 70 86/ 0.9);
}

.footer {
    background: #fff;
    height: 132px;
}