@font-face {font-family: "Druk Wide Medium"; src: url("//db.onlinewebfonts.com/t/1238db2fc008ce88465a792fad1e5519.eot"); src: url("//db.onlinewebfonts.com/t/1238db2fc008ce88465a792fad1e5519.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1238db2fc008ce88465a792fad1e5519.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1238db2fc008ce88465a792fad1e5519.woff") format("woff"), url("//db.onlinewebfonts.com/t/1238db2fc008ce88465a792fad1e5519.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1238db2fc008ce88465a792fad1e5519.svg#Druk Wide Medium") format("svg"); }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: #1F2326;
    display: flex;
    justify-content: space-between;
    height: 132px;
    padding: 46px 66px 46px 78px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.header-left-block {
    display: flex;
}

.logo {
    width: 79px;
}

.header-icon {
    margin: 0 86px 0 0;
}

.line {
    height: 42px;
    width: 2px;
    background: #fff;
    margin: 0 60px;
}

.nav {
    width: 920px;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
}

.nav-arrow {
    width: 10px;
    margin: 0 0 0 5px;
}

.header-right-block {
    display: flex;
    align-items: center;
}

.user-icon {
    width: 42px;
    border-radius: 50%;
    margin: 0 16px 0 0;
}

.arrow {
    width: 10px;
    margin: 0 0 0 18px;
}

.content {
    height: calc( 100vh - 132px - 132px);
    background-image: url("./assets/background/background.png");
    background-color: rgb(249 37 55 / 90%);
    padding: 60px 0;
}

.footer {
    background: #fff;
    height: 132px;
}

.block-name-cards {
    width: 11%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 0 27px 0;
    border-bottom: 8px solid rgb(31 35 38 / 60%);
    margin: 0 0 0 100px;
}

.block-name-cards-icon {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(31 35 38 / 60%);
    margin: 0 0 20px 0;
}

.block-name-cards-icon img {
    width: 48px;
}

.name-cards {
    text-transform: uppercase;
    font-size: 110px;
    font-family: "Druk Wide Medium", sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: transparent;
    writing-mode: vertical-rl;
    letter-spacing: 1px;
}

.block-name-cards-border {
    border-bottom: 8px solid rgb(31 35 38 / 60%);
}